body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styling */
.header {
    background-color: #011e29;
    text-align: center;
    padding: 30px;
    color: white;
}

/* Layout container */
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
	gap:10px;
}

/* Latest News Section */
.latest-news-section {
    background-color: white;
    padding: 25px;
    width: 22%;
    border-radius: 15px;
}

.latest-news-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Main Article */
.main-article {
    background-color: white;
    padding: 25px;
    width: 40%;
    text-align: center;
    border-radius: 15px;
}

/* Pictorial News Section */
.pictorial-news-section {
    background-color: white;
    padding: 25px;
    width: 22%;
    text-align: center;
    border-radius: 15px;
}

.pictorial-news-section img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
